---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.recipe {
    padding-bottom: 1em;

    a {
        display:inline;
    }

    .tag {
        display: inline-block;
        padding-right: 1em;
    }

}
